[client]
port	= 3306
user=root
password={{ mysql_root_password }}
default-character-set=utf8mb4
[mysqld]
# lower_case_table_names = 1
default_authentication_plugin = mysql_native_password
# 设置3306端口
port=3306
bind-address=0.0.0.0
skip-name-resolve=1

datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid